<a href="https://colab.research.google.com/github/ImSumitJadhav/Machine-Learning/blob/main/T8_Data_Preprocessing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Data Preprocessing**

In [ ]:
#import library and modules
import numpy as np
import pandas as pd

In [ ]:
#import drive
from google.colab import drive

#mount drive
drive.mount('/content/MyDrive')

Mounted at /content/MyDrive

In [ ]:
#import dataset
df=pd.read_csv('/content/MyDrive/MyDrive/Analysis Projects/Dataset/Weather Dataset.csv')

In [ ]:
df.head(10)

,id,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa,Weather
0,1,-1.8,-3.9,86,4,8.0,101.24,Fog
1,2,-1.8,-3.7,87,4,8.0,101.24,Fog
2,3,-1.8,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog"
3,4,-1.5,-3.2,88,6,4.0,101.27,"Freezing Drizzle,Fog"
4,5,-1.5,-3.3,88,7,4.8,101.23,Fog
5,6,-1.4,-3.3,87,9,6.4,101.27,Fog
6,7,-1.5,-3.1,89,7,6.4,101.29,Fog
7,8,-1.4,-3.6,85,7,8.0,101.26,Fog
8,9,-1.4,-3.6,85,9,8.0,101.23,Fog
9,10,-1.3,-3.1,88,15,4.0,101.20,Fog

In [ ]:
df.tail(10)

,id,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa,Weather
8774,8775,-3.4,-5.7,84,6,11.3,100.57,Snow
8775,8776,-2.3,-4.6,84,9,9.7,100.47,Snow
8776,8777,-1.4,-4.0,82,13,12.9,100.40,Snow
8777,8778,-1.1,-3.3,85,19,9.7,100.30,Snow
8778,8779,-1.3,-3.1,88,17,9.7,100.19,Snow
8779,8780,0.1,-2.7,81,30,9.7,100.13,Snow
8780,8781,0.2,-2.4,83,24,9.7,100.03,Snow
8781,8782,-0.5,-1.5,93,28,4.8,99.95,Snow
8782,8783,-0.2,-1.8,89,28,9.7,99.91,Snow
8783,8784,0.0,-2.1,86,30,11.3,99.89,Snow

# **1.How to find out number of rows in the dataset**

---

In [ ]:
#1.shape function

df.shape

(8784, 8)

In [ ]:
#2.len function

len(df)

8784

In [ ]:
#3.shape function with index value

df.shape[0]

8784

In [ ]:
#4.count function with index value

df.count()[0]

8784

In [ ]:
#5.len and index function

len(df.index)

8784

In [ ]:
#6.len and axes function

len(df.axes[0])

8784

# **2.How to find out number of columns in the dataset**

---

In [ ]:
#1.shape function

df.shape

(8784, 8)

In [ ]:
#2.shape function with index value

df.shape[1]

8

In [ ]:
#3.len and index function

len(df.axes[1])

8

In [ ]:
#4.len and columns function

len(df.columns)

8

# **3.How to find out names of all columns**

---

In [ ]:
#1.columns funtion

df.columns

Index(['id', 'Temp_C', 'Dew Point Temp_C', 'Rel Hum_%', 'Wind Speed_km/h',
       'Visibility_km', 'Press_kPa', 'Weather'],
      dtype='object')

In [ ]:
#2.keys function

df.keys()

Index(['id', 'Temp_C', 'Dew Point Temp_C', 'Rel Hum_%', 'Wind Speed_km/h',
       'Visibility_km', 'Press_kPa', 'Weather'],
      dtype='object')

In [ ]:
#3.columns and values function

df.columns.values

array(['id', 'Temp_C', 'Dew Point Temp_C', 'Rel Hum_%', 'Wind Speed_km/h',
       'Visibility_km', 'Press_kPa', 'Weather'], dtype=object)

In [ ]:
#4.sorted funtion (This will gives all column names with ascending order)
sorted(df)

['Dew Point Temp_C',
 'Press_kPa',
 'Rel Hum_%',
 'Temp_C',
 'Visibility_km',
 'Weather',
 'Wind Speed_km/h',
 'id']

# **4.How to find out numerical columns**

---

In [ ]:
#Ex1.fetch numerical columns only by means of list comprehension 
numerical_columns_1=[fea for fea in df.columns if df[fea].dtypes=="int" or df[fea].dtypes=="float"]
print("Count of numerical columns",len(numerical_columns_1),".They are as follows:")
numerical_columns_1

Count of numerical columns 7 .They are as follows:

['id',
 'Temp_C',
 'Dew Point Temp_C',
 'Rel Hum_%',
 'Wind Speed_km/h',
 'Visibility_km',
 'Press_kPa']

In [ ]:
#Ex2.fetch numerical columns only by means of list comprehension 
numerical_columns_2=[fea for fea in df.columns if df[fea].dtypes!="object" and df[fea].dtypes!="datetime"]
print("Count of numerical columns",len(numerical_columns_2),".They are as follows:")
numerical_columns_2

Count of numerical columns 7 .They are as follows:

['id',
 'Temp_C',
 'Dew Point Temp_C',
 'Rel Hum_%',
 'Wind Speed_km/h',
 'Visibility_km',
 'Press_kPa']

# **5.How to find out continuous numerical columns**

---

In [ ]:
#Ex1.fetch continuous numerical columns only by means of list comprehension 
continuous_numerical_columns_1=[fea for fea in df.columns if df[fea].nunique()>50 and (df[fea].dtypes=="int" or df[fea].dtypes=="float") ]
print("Count of continuous numerical columns",len(continuous_numerical_columns_1)," They are as follows:")
continuous_numerical_columns_1

Count of continuous numerical columns 5  They are as follows:

['id', 'Temp_C', 'Dew Point Temp_C', 'Rel Hum_%', 'Press_kPa']

In [ ]:
#Ex2.fetch continuous numerical columns only by means of list comprehension 
continuous_numerical_columns_2=[fea for fea in df.columns if df[fea].dtypes!="object" and df[fea].dtypes!="datetime" and df[fea].nunique()>50]
print("Count of numerical columns",len(continuous_numerical_columns_2),".They are as follows:")
continuous_numerical_columns_2

Count of numerical columns 5 .They are as follows:

['id', 'Temp_C', 'Dew Point Temp_C', 'Rel Hum_%', 'Press_kPa']

In [ ]:
#Ex3.fetch continuous numerical columns only by means of list comprehension 
continuous_numerical_columns_3=[fea for fea in numerical_columns_1 if df[fea].nunique()>50]
print("Count of numerical columns",len(continuous_numerical_columns_3),".They are as follows:")
continuous_numerical_columns_3

Count of numerical columns 5 .They are as follows:

['id', 'Temp_C', 'Dew Point Temp_C', 'Rel Hum_%', 'Press_kPa']

# **6.How to find out discrete numerical columns**

---

In [ ]:
#Ex1.fetch discrete numerical columns only by means of list comprehension 
discrete_numerical_columns_1=[fea for fea in df.columns if df[fea].nunique()<=50 and (df[fea].dtypes=="int" or df[fea].dtypes=="float") ]
print("Count of discrete numerical columns",len(discrete_numerical_columns_1)," They are as follows:")
discrete_numerical_columns_1

Count of discrete numerical columns 2  They are as follows:

['Wind Speed_km/h', 'Visibility_km']

In [ ]:
#Ex2.fetch discrete numerical columns only by means of list comprehension 
discrete_numerical_columns_2=[fea for fea in df.columns if df[fea].dtypes!="object" and df[fea].dtypes!="datetime" and df[fea].nunique()<=50]
print("Count of numerical columns",len(discrete_numerical_columns_2),".They are as follows:")
discrete_numerical_columns_2

Count of numerical columns 2 .They are as follows:

['Wind Speed_km/h', 'Visibility_km']

In [ ]:
#Ex3.fetch discrete numerical columns only by means of list comprehension 
discrete_numerical_columns_3=[fea for fea in numerical_columns_1 if df[fea].nunique()<=50]
print("Count of discrete columns",len(discrete_numerical_columns_2),".They are as follows:")
discrete_numerical_columns_2

Count of discrete columns 2 .They are as follows:

['Wind Speed_km/h', 'Visibility_km']

In [ ]:
#Ex4.fetch discrete numerical columns only by means of list comprehension 
discrete_numerical_columns_4=[fea for fea in numerical_columns_1 if fea not in continuous_numerical_columns_1]
print("Count of discrete columns",len(discrete_numerical_columns_4),".They are as follows:")
discrete_numerical_columns_4

Count of discrete columns 2 .They are as follows:

['Wind Speed_km/h', 'Visibility_km']

# **7.How to find out categorical columns**

---

In [ ]:
#Ex1.fetch categorical columns only by means of list comprehension 
categorical_columns_1=[fea for fea in df.columns if df[fea].dtypes=="O" or df[fea].dtypes=="Object"]
print("Count of categorical columns",len(categorical_columns_1)," They are as follows:")
categorical_columns_1

Count of categorical columns 1  They are as follows:

['Weather']

In [ ]:
#Ex2.fetch categorical columns only by means of list comprehension 
categorical_columns_2=[fea for fea in df.columns if fea not in numerical_columns_1]
print("Count of categorical columns",len(categorical_columns_2)," They are as follows:")
categorical_columns_2

Count of categorical columns 1  They are as follows:

['Weather']

# **8.How to find out boolean columns**

---

In [ ]:
#Ex1.fetch boolean columns only by means of list comprehension 
boolean_columns_1=[fea for fea in df.columns if df[fea].dtypes=="bool"]
print("Count of boolean columns",len(boolean_columns_1)," They are as follows:")
boolean_columns_1

Count of boolean columns 0  They are as follows:

[]

# **9.How to find out datatypes of column**

---

In [ ]:
#1.all columns

df.dtypes

id                    int64
Temp_C              float64
Dew Point Temp_C    float64
Rel Hum_%             int64
Wind Speed_km/h       int64
Visibility_km       float64
Press_kPa           float64
Weather              object
dtype: object

In [ ]:
#2.info function

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8784 entries, 0 to 8783
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   id                8784 non-null   int64
 1   Temp_C            8784 non-null   float64
 2   Dew Point Temp_C  8784 non-null   float64
 3   Rel Hum_%         8784 non-null   int64
 4   Wind Speed_km/h   8784 non-null   int64
 5   Visibility_km     8784 non-null   float64
 6   Press_kPa         8784 non-null   float64
 7   Weather           8784 non-null   object
dtypes: float64(4), int64(3), object(1)
memory usage: 549.1+ KB

In [ ]:
#3.one column

df.id.dtypes

dtype('int64')

In [ ]:
#4.one column 
df.dtypes.id

dtype('int64')

# **10.How to make different dataframe by different datatypes**

---

In [ ]:
#1.using select_datatype function

df.select_dtypes(include="float").head(10)

   Temp_C  Dew Point Temp_C  Visibility_km  Press_kPa
0    -1.8              -3.9            8.0     101.24
1    -1.8              -3.7            8.0     101.24
2    -1.8              -3.4            4.0     101.26
3    -1.5              -3.2            4.0     101.27
4    -1.5              -3.3            4.8     101.23
5    -1.4              -3.3            6.4     101.27
6    -1.5              -3.1            6.4     101.29
7    -1.4              -3.6            8.0     101.26
8    -1.4              -3.6            8.0     101.23
9    -1.3              -3.1            4.0     101.20

In [ ]:
#2.by using list columns having a similar datatypes

df[numerical_columns_1].head(10)

,id,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa
0,1,-1.8,-3.9,86,4,8.0,101.24
1,2,-1.8,-3.7,87,4,8.0,101.24
2,3,-1.8,-3.4,89,7,4.0,101.26
3,4,-1.5,-3.2,88,6,4.0,101.27
4,5,-1.5,-3.3,88,7,4.8,101.23
5,6,-1.4,-3.3,87,9,6.4,101.27
6,7,-1.5,-3.1,89,7,6.4,101.29
7,8,-1.4,-3.6,85,7,8.0,101.26
8,9,-1.4,-3.6,85,9,8.0,101.23
9,10,-1.3,-3.1,88,15,4.0,101.20

# **11.How to find out unique values in each column**

---

In [ ]:
#1.unique function

df.Weather.unique()

array(['Fog', 'Freezing Drizzle,Fog', 'Mostly Cloudy', 'Cloudy', 'Rain',
       'Rain Showers', 'Mainly Clear', 'Snow Showers', 'Snow', 'Clear',
       'Freezing Rain,Fog', 'Freezing Rain', 'Freezing Drizzle',
       'Rain,Snow', 'Moderate Snow', 'Freezing Drizzle,Snow',
       'Freezing Rain,Snow Grains', 'Snow,Blowing Snow', 'Freezing Fog',
       'Haze', 'Rain,Fog', 'Drizzle,Fog', 'Drizzle',
       'Freezing Drizzle,Haze', 'Freezing Rain,Haze', 'Snow,Haze',
       'Snow,Fog', 'Snow,Ice Pellets', 'Rain,Haze', 'Thunderstorms,Rain',
       'Thunderstorms,Rain Showers', 'Thunderstorms,Heavy Rain Showers',
       'Thunderstorms,Rain Showers,Fog', 'Thunderstorms',
       'Thunderstorms,Rain,Fog',
       'Thunderstorms,Moderate Rain Showers,Fog', 'Rain Showers,Fog',
       'Rain Showers,Snow Showers', 'Snow Pellets', 'Rain,Snow,Fog',
       'Moderate Rain,Fog', 'Freezing Rain,Ice Pellets,Fog',
       'Drizzle,Ice Pellets,Fog', 'Drizzle,Snow', 'Rain,Ice Pellets',
       'Drizzle,Snow,Fog', 'Rain,Snow Grains', 'Rain,Snow,Ice Pellets',
       'Snow Showers,Fog', 'Moderate Snow,Blowing Snow'], dtype=object)

# **12.How to find out count unique values in each column**

---

In [ ]:
#1.nunique function for single column

df.Weather.nunique()

50

In [ ]:
#2.unique function for all columns

df.nunique()

id                  8784
Temp_C               533
Dew Point Temp_C     489
Rel Hum_%             83
Wind Speed_km/h       34
Visibility_km         24
Press_kPa            518
Weather               50
dtype: int64

In [ ]:
#3.unique function with dropna parameter

df.Weather.nunique(dropna=True)

50

# **13.How to find and drop duplicte rows from the dataset**

---

**A)Find**

In [98]:
#1.count of duplicate values in dataset using len function

len(df[df.duplicated()])

0

In [101]:
#2.count duplicate values in one column

len(df[df.duplicated(["Temp_C"])])

8251

In [102]:
#3.count duplicate values in more than one column

len(df[df.duplicated(["Temp_C","Press_kPa"])])

428

**B)Drop**

In [ ]:
#1.drop duplicate rows

df1 = df.drop_duplicates()

In [ ]:
#2.drop duplicate with keep 1st row between similar rows

df2=df.drop_duplicates(keep="first")

In [ ]:
#3.drop duplicate with keep last row between similar rows

df3=df.drop_duplicates(keep="last")

In [ ]:
#4.drop duplicate with neither keep 1st nor last row between similar rows

df4=df.drop_duplicates(keep=False)

In [ ]:
# Example 5: Get unique rows based on specified columns 
df5=df.drop_duplicates(subset=["Weather", "Temp_C"], keep=False)

# **14.How to find basic statasstical values of the dataset**

---

In [ ]:
#1.describe function(only numerical features)

df.describe()

,id,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa
count,8784.000000,8784.000000,8784.000000,8784.000000,8784.000000,8784.000000,8784.000000
mean,4392.500000,8.798144,2.555294,67.431694,14.945469,27.664447,101.051623
std,2535.866716,11.687883,10.883072,16.918881,8.688696,12.622688,0.844005
min,1.000000,-23.300000,-28.500000,18.000000,0.000000,0.200000,97.520000
25%,2196.750000,0.100000,-5.900000,56.000000,9.000000,24.100000,100.560000
50%,4392.500000,9.300000,3.300000,68.000000,13.000000,25.000000,101.070000
75%,6588.250000,18.800000,11.800000,81.000000,20.000000,25.000000,101.590000
max,8784.000000,33.000000,24.400000,100.000000,83.000000,48.300000,103.650000

In [ ]:
#2.describe function(all features)

df.describe(include="all")

,id,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa,Weather
count,8784.000000,8784.000000,8784.000000,8784.000000,8784.000000,8784.000000,8784.000000,8784
unique,NaN,NaN,NaN,NaN,NaN,NaN,NaN,50
top,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Mainly Clear
freq,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2106
mean,4392.500000,8.798144,2.555294,67.431694,14.945469,27.664447,101.051623,NaN
std,2535.866716,11.687883,10.883072,16.918881,8.688696,12.622688,0.844005,NaN
min,1.000000,-23.300000,-28.500000,18.000000,0.000000,0.200000,97.520000,NaN
25%,2196.750000,0.100000,-5.900000,56.000000,9.000000,24.100000,100.560000,NaN
50%,4392.500000,9.300000,3.300000,68.000000,13.000000,25.000000,101.070000,NaN
75%,6588.250000,18.800000,11.800000,81.000000,20.000000,25.000000,101.590000,NaN
max,8784.000000,33.000000,24.400000,100.000000,83.000000,48.300000,103.650000,NaN

In [ ]:
#3.mean()

df.Temp_C.mean()

8.798144353369764

In [ ]:
#4.mode()

df.Temp_C.mode()

0    16.6
Name: Temp_C, dtype: float64

In [ ]:
#5.median()

df.Temp_C.median()

9.3

In [ ]:
#6.minimum value

df.Temp_C.min()

-23.3

In [ ]:
#7.max()

df.Temp_C.max()

33.0

In [ ]:
#8.standard deviation

df.Temp_C.std()

11.687882769691276

In [ ]:
#9.varience

df.Temp_C.var()

136.6066036380462

In [ ]:
#10.total values

len(df.Weather)

8784

In [ ]:
#11.total unique values

df.Weather.nunique()

50

In [ ]:
#12.top value in categorical feature

df.Weather.mode()

0    Mainly Clear
Name: Weather, dtype: object

In [ ]:
#13.count of top value in categorical feature

df.Weather.value_counts()[0]

2106

In [ ]:
#14.percentile values

np.percentile(df.Temp_C,25)

0.1

In [ ]:
df.Temp_C.quantile(0.25)

0.1

In [ ]:
#15.percentile values

np.percentile(df.Temp_C,75)

18.8

In [ ]:
df.Temp_C.quantile(0.75)

18.8

# **15.How to find count of null values in the column**

In [84]:
#1.info function

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8784 entries, 0 to 8783
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   id                8784 non-null   int64
 1   Temp_C            8784 non-null   float64
 2   Dew Point Temp_C  8784 non-null   float64
 3   Rel Hum_%         8784 non-null   int64
 4   Wind Speed_km/h   8784 non-null   int64
 5   Visibility_km     8784 non-null   float64
 6   Press_kPa         8784 non-null   float64
 7   Weather           8784 non-null   object
dtypes: float64(4), int64(3), object(1)
memory usage: 549.1+ KB

In [85]:
#2.isnull and sum function

df.isnull().sum()

id                  0
Temp_C              0
Dew Point Temp_C    0
Rel Hum_%           0
Wind Speed_km/h     0
Visibility_km       0
Press_kPa           0
Weather             0
dtype: int64

In [93]:
#3.find count of null values of one column

df.Weather.isnull().sum()

0

In [94]:
#4.isna function for count of null values with each column

df.isna().sum()

id                  0
Temp_C              0
Dew Point Temp_C    0
Rel Hum_%           0
Wind Speed_km/h     0
Visibility_km       0
Press_kPa           0
Weather             0
dtype: int64

In [95]:
#5.isna function for sum of null values with all columns

df.isna().sum().sum()

0

In [96]:
#6.find how many null values present in the row

df.loc[8].isna().sum()

0