<a href="https://colab.research.google.com/github/ImSumitJadhav/Machine-Learning/blob/main/T9_Data_Cleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Data Cleaning**

---

In [163]:
#import library and modules
import numpy as np
import pandas as pd

import warnings
warnings.filterwarnings('ignore')

In [164]:
#import drive
from google.colab import drive

#mount drive
drive.mount('/content/MyDrive')

Drive already mounted at /content/MyDrive; to attempt to forcibly remount, call drive.mount("/content/MyDrive", force_remount=True).

In [165]:
#import dataset
df=pd.read_csv('/content/MyDrive/MyDrive/AlmaBetter/Project 1/Play Store Data.csv')

In [166]:
#copy df

dff=df.copy()

#copy df
dfff=df.copy()

#copy df
dfd=df.copy()

In [167]:
df.head()

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7M,"5,000,000+",Free,0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25M,"50,000,000+",Free,0,Teen,Art & Design,"June 8, 2018",Varies with device,4.2 and up
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2.8M,"100,000+",Free,0,Everyone,Art & Design;Creativity,"June 20, 2018",1.1,4.4 and up

In [168]:
df.tail()

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
10836,Sya9a Maroc - FR,FAMILY,4.5,38,53M,"5,000+",Free,0,Everyone,Education,"July 25, 2017",1.48,4.1 and up
10837,Fr. Mike Schmitz Audio Teachings,FAMILY,5.0,4,3.6M,100+,Free,0,Everyone,Education,"July 6, 2018",1.0,4.1 and up
10838,Parkinson Exercices FR,MEDICAL,NaN,3,9.5M,"1,000+",Free,0,Everyone,Medical,"January 20, 2017",1.0,2.2 and up
10839,The SCP Foundation DB fr nn5n,BOOKS_AND_REFERENCE,4.5,114,Varies with device,"1,000+",Free,0,Mature 17+,Books & Reference,"January 19, 2015",Varies with device,Varies with device
10840,iHoroscope - 2018 Daily Horoscope & Astrology,LIFESTYLE,4.5,398307,19M,"10,000,000+",Free,0,Everyone,Lifestyle,"July 25, 2018",Varies with device,Varies with device

# **1.Delete duplicate rows**

---

In [169]:
#number of rows before drop duplicate rows

df.shape[0]

10841

In [170]:
#1.drop duplicate rows

df1 = df.drop_duplicates()

#number of rows after drop duplicate rows

df1.shape[0]

10358

In [171]:
#2.drop duplicate with keep 1st row between similar rows

df2=df.drop_duplicates(keep="first")

#number of rows after drop duplicate rows

df2.shape[0]

10358

In [172]:
#3.drop duplicate with keep last row between similar rows

df3=df.drop_duplicates(keep="last")

#number of rows after drop duplicate rows

df3.shape[0]

10358

In [173]:
#4.drop duplicate with neither keep 1st nor last row between similar rows

df4=df.drop_duplicates(keep=False)

#number of rows after drop duplicate rows

df4.shape[0]

9948

In [174]:

# Example 5: Get unique rows based on specified columns 
df5=df.drop_duplicates(subset=["Category", "Type"], keep=False)
     
#number of rows after drop duplicate rows

df5.shape[0]

4

# **2.How to handling missing values in the dataframe**

---

**A)Replace null values**

In [175]:
#count of null values in each column
df.isnull().sum()

App                  0
Category             0
Rating            1474
Reviews              0
Size                 0
Installs             0
Type                 1
Price                0
Content Rating       1
Genres               0
Last Updated         0
Current Ver          8
Android Ver          3
dtype: int64

In [176]:
#1.fillna function (mean)

df1=df.fillna(df.mean(numeric_only=True))

#count of null values in each column after fillna function
df1.isnull().sum()

App               0
Category          0
Rating            0
Reviews           0
Size              0
Installs          0
Type              1
Price             0
Content Rating    1
Genres            0
Last Updated      0
Current Ver       8
Android Ver       3
dtype: int64

In [177]:
#2.fillna function (median)

df2=df.fillna(df.median(numeric_only=True))

#count of null values in each column after fillna function
df2.isnull().sum()

App               0
Category          0
Rating            0
Reviews           0
Size              0
Installs          0
Type              1
Price             0
Content Rating    1
Genres            0
Last Updated      0
Current Ver       8
Android Ver       3
dtype: int64

In [178]:
#3.fillna function (mode)

df.Type.fillna(df.Type.mode()[0],inplace=True)

#count of null values in each column after fillna function
df.isnull().sum()

App                  0
Category             0
Rating            1474
Reviews              0
Size                 0
Installs             0
Type                 0
Price                0
Content Rating       1
Genres               0
Last Updated         0
Current Ver          8
Android Ver          3
dtype: int64

In [179]:
#4.bfill method

df4=df.fillna(method="bfill")

#count of null values in each column after fillna function
df4.isnull().sum()

App               0
Category          0
Rating            0
Reviews           0
Size              0
Installs          0
Type              0
Price             0
Content Rating    0
Genres            0
Last Updated      0
Current Ver       0
Android Ver       0
dtype: int64

In [180]:
#5.ffill method

df5=df.fillna(method="ffill")

#count of null values in each column after fillna function
df5.isnull().sum()

App               0
Category          0
Rating            0
Reviews           0
Size              0
Installs          0
Type              0
Price             0
Content Rating    0
Genres            0
Last Updated      0
Current Ver       0
Android Ver       0
dtype: int64

In [181]:
#6.replace with one particular value

df6=df.fillna("no value")

#count of null values in each column after fillna function
df6.isnull().sum()

App               0
Category          0
Rating            0
Reviews           0
Size              0
Installs          0
Type              0
Price             0
Content Rating    0
Genres            0
Last Updated      0
Current Ver       0
Android Ver       0
dtype: int64

In [182]:
#7.change null value of one column with one particuler value

df["Android Ver"]=df["Android Ver"].fillna("no version given")

#count of null values in each column after fillna function
df.isnull().sum()

App                  0
Category             0
Rating            1474
Reviews              0
Size                 0
Installs             0
Type                 0
Price                0
Content Rating       1
Genres               0
Last Updated         0
Current Ver          8
Android Ver          0
dtype: int64

In [183]:
#8.with replace function for one column

df["Content Rating"].replace([np.nan],"no value given",inplace=True)

#count of null values in each column after fillna function
df.isnull().sum()

App                  0
Category             0
Rating            1474
Reviews              0
Size                 0
Installs             0
Type                 0
Price                0
Content Rating       0
Genres               0
Last Updated         0
Current Ver          8
Android Ver          0
dtype: int64

In [184]:
#9.replace function with single column

dff["Rating"].replace([np.nan],dff["Rating"].mean(),inplace=True)

#count of null values in each column after fillna function
dff.isnull().sum()

App               0
Category          0
Rating            0
Reviews           0
Size              0
Installs          0
Type              1
Price             0
Content Rating    1
Genres            0
Last Updated      0
Current Ver       8
Android Ver       3
dtype: int64

**Note:for mode and median syntax is same only difference is that mean replaced by mode or median**

In [185]:
#10.replace null value with particuler value using replace function

dff["Android Ver"].replace([np.nan],"no version given",inplace=True)

#count of null values in each column after fillna function
dff.isnull().sum()

App               0
Category          0
Rating            0
Reviews           0
Size              0
Installs          0
Type              1
Price             0
Content Rating    1
Genres            0
Last Updated      0
Current Ver       8
Android Ver       0
dtype: int64

In [186]:
#11.replace all null values in the column with one particuler value

dff.replace([np.nan],"no value",inplace=True)

#count of null values in each column after fillna function
dff.isnull().sum()

App               0
Category          0
Rating            0
Reviews           0
Size              0
Installs          0
Type              0
Price             0
Content Rating    0
Genres            0
Last Updated      0
Current Ver       0
Android Ver       0
dtype: int64

In [187]:
#12.replace null values with random values in the particuler column

dfff["Rating"].fillna(np.random.choice(dfff['Rating'][~dfff['Rating'].isna()]),inplace = True)

#count of null values in each column after fillna function
dfff.isnull().sum()

App               0
Category          0
Rating            0
Reviews           0
Size              0
Installs          0
Type              1
Price             0
Content Rating    1
Genres            0
Last Updated      0
Current Ver       8
Android Ver       3
dtype: int64

In [188]:
#13.replace null values with interpolation function

dfff=dfff.interpolate()

#count of null values in each column after fillna function
dfff.isnull().sum()

App               0
Category          0
Rating            0
Reviews           0
Size              0
Installs          0
Type              1
Price             0
Content Rating    1
Genres            0
Last Updated      0
Current Ver       8
Android Ver       3
dtype: int64

**Note:This applicable on numerical features only**

**B)Drop nan valued rows**

In [189]:
#1.direct drop all rows which contains null value

print("number of rows before drop:",dfd.shape[0])
v1=dfd.dropna(axis=0)
print("number of rows after drop:",v1.shape[0])

number of rows before drop: 10841
number of rows after drop: 9360

In [190]:
#2.direct drop all rows which contains null value with reset_index

print("number of rows before drop:",dfd.shape[0])
v2=dfd.dropna(axis=0).reset_index()
print("number of rows after drop:",v2.shape[0])
v2.head(10)

number of rows before drop: 10841
number of rows after drop: 9360

,index,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
1,1,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up
2,2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7M,"5,000,000+",Free,0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up
3,3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25M,"50,000,000+",Free,0,Teen,Art & Design,"June 8, 2018",Varies with device,4.2 and up
4,4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2.8M,"100,000+",Free,0,Everyone,Art & Design;Creativity,"June 20, 2018",1.1,4.4 and up
5,5,Paper flowers instructions,ART_AND_DESIGN,4.4,167,5.6M,"50,000+",Free,0,Everyone,Art & Design,"March 26, 2017",1.0,2.3 and up
6,6,Smoke Effect Photo Maker - Smoke Editor,ART_AND_DESIGN,3.8,178,19M,"50,000+",Free,0,Everyone,Art & Design,"April 26, 2018",1.1,4.0.3 and up
7,7,Infinite Painter,ART_AND_DESIGN,4.1,36815,29M,"1,000,000+",Free,0,Everyone,Art & Design,"June 14, 2018",6.1.61.1,4.2 and up
8,8,Garden Coloring Book,ART_AND_DESIGN,4.4,13791,33M,"1,000,000+",Free,0,Everyone,Art & Design,"September 20, 2017",2.9.2,3.0 and up
9,9,Kids Paint Free - Drawing Fun,ART_AND_DESIGN,4.7,121,3.1M,"10,000+",Free,0,Everyone,Art & Design;Creativity,"July 3, 2018",2.8,4.0.3 and up

In [191]:
#3.drop nan value rows by means one column(if van value present in that column then drop this entire row)

print("number of rows before drop:",dfd.shape[0])
v3=dfd.dropna(subset=["Rating"],axis=0)
print("number of rows after drop:",v3.shape[0])

number of rows before drop: 10841
number of rows after drop: 9367

In [192]:
#4.drop with threshold value(if a row contains count of null values is equal and more than threshold value then drop those values)

print("number of rows before drop:",dfd.shape[0])
v4=dfd.dropna(thresh=2)
print("number of rows after drop:",v4.shape[0])

number of rows before drop: 10841
number of rows after drop: 10841

In [193]:
#5.drop rows which have all nan values in a row

print("number of rows before drop:",dfd.shape[0])
v5=dfd.dropna(how="all")
print("number of rows after drop:",v5.shape[0])

number of rows before drop: 10841
number of rows after drop: 10841

**Note: When we used (inplace=True) then change will be happend in original dataframe**

**Note:Machine Learning alorithms also used to find nan values but this is time conssuming process**

# **3.How to drop unwanted rows**

---

**Note:Here we use dataframe (dff)**

In [194]:
#1.drop function with index value

print("Before drop:",dff["App"].head(1))
a1=dff.drop(labels=0,axis=0)
print("\nAfter drop:",a1["App"].head(1))

Before drop: 0    Photo Editor & Candy Camera & Grid & ScrapBook
Name: App, dtype: object

After drop: 1    Coloring book moana
Name: App, dtype: object

In [195]:
#2.drop row with particuler value in any column

a2=dff.set_index("Rating")
print("number of rows Before drop:",a2.shape[0])
a2=a2.drop([4.1,4.2,4.3,4.4,4.5,4.6,4.7,4.8,4.9])
print("\nnumber of rows After drop:",a2.shape[0])

number of rows Before drop: 10841

number of rows After drop: 4315

In [196]:
#3.drop multiple rows

print("Before drop:\n",dff["App"].head(5))
a3=dff.drop(dff.index[[0,1,2,3,4]]).reset_index()
print("\nAfter drop:\n",a3["App"].head(5))

Before drop:
 0       Photo Editor & Candy Camera & Grid & ScrapBook
1                                  Coloring book moana
2    U Launcher Lite – FREE Live Cool Themes, Hide ...
3                                Sketch - Draw & Paint
4                Pixel Draw - Number Art Coloring Book
Name: App, dtype: object

After drop:
 0                 Paper flowers instructions
1    Smoke Effect Photo Maker - Smoke Editor
2                           Infinite Painter
3                       Garden Coloring Book
4              Kids Paint Free - Drawing Fun
Name: App, dtype: object

In [197]:
#4.with index function and value in the column

print("number of rows Before drop:",dff.shape[0])
a4=dff.drop(dff.index[dff["Type"]=="Free"])
print("\nnumber of rows After drop:",dff.shape[0]-a4.shape[0])

number of rows Before drop: 10841

number of rows After drop: 10039

In [198]:
#5.with loc function

print("number of rows Before drop:",dff.shape[0])
a5=dff.loc[dff["Type"]=="Free"]
print("\nnumber of rows After drop:",a5.shape[0])

number of rows Before drop: 10841

number of rows After drop: 10039

In [199]:
#6.drop rows on the basis of value in column

print("number of rows Before drop:",dff.shape[0])
a6=dff[dff.Type=="Free"]
print("\nnumber of rows After drop:",a6.shape[0])

number of rows Before drop: 10841

number of rows After drop: 10039

In [200]:
#similarly

print("number of rows Before drop:",df.shape[0])
df=df.drop(df.index[df["Installs"]=="Free"])
print("\nnumber of rows After drop:",df.shape[0])

number of rows Before drop: 10841

number of rows After drop: 10840

# **4.How to drop unwanted columns**

---

In [201]:
#1.drop single column

print("number of columns Before drop:",dff.shape[1])
b1=dff.drop("Type",axis=1)
print("\nnumber of columns After drop:",b1.shape[1])

number of columns Before drop: 13

number of columns After drop: 12

In [202]:
#2.drop multiple column

print("number of columns Before drop:",dff.shape[1])
b2=dff.drop(["Type","App","Rating"],axis=1)
print("\nnumber of columns After drop:",b2.shape[1])

number of columns Before drop: 13

number of columns After drop: 10

# **5.Replace some part of string in a column**

---

In [203]:
#1.replace values of string column using str and replace function

df.Installs=df.Installs.str.replace("+","Plus")
df.head(2)

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,"10,000Plus",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000Plus",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up

In [204]:
#2. Replace substring with regex
df.Installs = df.Installs.replace(',', "_", regex=True)
df.head(2)

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,10_000Plus,Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,500_000Plus,Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up

In [205]:
#3.Replacing substring by multiple values

df.Installs=df.Installs.replace({"Plus":"P","_":","},regex=True)
df.head(2)

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,"10,000P",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000P",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up

In [206]:
#4.Replace pattern of Substring using regular expression.

df.Installs=df.Installs.replace(regex=['P'],value='plus')
df.head(2)

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,"10,000plus",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000plus",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up

In [207]:
#5.Replace SubString using apply() function with lambda.(This will be used for whole dataset.This will not give result on single column)
df = df.apply(lambda x: x.replace({"plus":"",",":""},regex=True))
df.head(2)

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,10000,Free,0,Everyone,Art & Design,January 7 2018,1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,500000,Free,0,Everyone,Art & Design;Pretend Play,January 15 2018,2.0.0,4.0.3 and up

# **6.Change datatype of column as required**

---

**Note:Here we use dataframe (v1)**

In [208]:
#1.astype function

print("datatype before:",v1.Rating.dtypes)
v1.Rating=v1.Rating.astype("int")
print("datatype after:",v1.Rating.dtypes)

datatype before: float64
datatype after: int64

In [209]:
#2.to_numeric function

print("datatype before:",v1.Rating.dtypes)
v1.Rating=v1.Rating.apply(pd.to_numeric)
print("datatype after:",v1.Rating.dtypes)

datatype before: int64
datatype after: int64

In [210]:
#similarly

v1.Installs=v1.Installs.str.replace("+","")
v1.Installs=v1.Installs.str.replace(",","")
print("Datatype before:\n",v1.Installs.dtypes)
v1['Installs']=pd.to_numeric(v1['Installs'], downcast='float')
print("\nDatatype after:\n",v1.Installs.dtypes)

Datatype before:
 object

Datatype after:
 float32

In [211]:
#3.infer_object function(convert all column datatype according to values in the column)

print(">>>>datatype before:\n",v1.dtypes)
d3=dfd.infer_objects()
print("\n>>>>datatype before:\n",d3.dtypes)

>>>>datatype before:
 App                object
Category           object
Rating              int64
Reviews            object
Size               object
Installs          float32
Type               object
Price              object
Content Rating     object
Genres             object
Last Updated       object
Current Ver        object
Android Ver        object
dtype: object

>>>>datatype before:
 App                object
Category           object
Rating            float64
Reviews            object
Size               object
Installs           object
Type               object
Price              object
Content Rating     object
Genres             object
Last Updated       object
Current Ver        object
Android Ver        object
dtype: object

In [212]:
#4.convert_dtypes function(convert all column datatype according to values in the column)

print(">>>>datatype before:\n",v1.dtypes)
d4=dfd.convert_dtypes()
print("\n>>>>datatype before:\n",d4.dtypes)

>>>>datatype before:
 App                object
Category           object
Rating              int64
Reviews            object
Size               object
Installs          float32
Type               object
Price              object
Content Rating     object
Genres             object
Last Updated       object
Current Ver        object
Android Ver        object
dtype: object

>>>>datatype before:
 App                string
Category           string
Rating            Float64
Reviews            string
Size               string
Installs           string
Type               string
Price              string
Content Rating     string
Genres             string
Last Updated       string
Current Ver        string
Android Ver        string
dtype: object

In [213]:
#5.change datatype of multiple columns with astype function

print("datatype of column 1 before:",v1.Rating.dtypes)
print("datatype of column 2 before:",v1.App.dtypes)  
v1=v1.astype({"Rating":"float","App":"object"})
print("\ndatatype of column 1 after:",v1.Rating.dtypes)
print("datatype of column 2 after:",v1.App.dtypes)

datatype of column 1 before: int64
datatype of column 2 before: object

datatype of column 1 after: float64
datatype of column 2 after: object

# **7.How to find and drop outliers in the dataset**

---

**Note:Using boxplot/scatterplot/histogram we can find outlier is present or not in the column**

**Note:We use "Installs" column**

**A)statastical calculation**

In [214]:
#25 and 75 percentile

q1=v1.Installs.quantile(0.25)
print("25 percentile is:",q1)

q3=v1.Installs.quantile(0.75)
print("75 percentile is:",q3)

25 percentile is: 10000.0
75 percentile is: 5000000.0

In [215]:
#IQR

iqr=q3-q1
print("Inter Quantile Range is:",iqr)

Inter Quantile Range is: 4990000.0

In [216]:
#Number of outliers
outliers=v1[((v1.Installs<(q1+(1.5*iqr))) | (v1.Installs>(q3+(1.5*iqr))))]
outliers.head(5)
print("count of outliers in dataset:",len(outliers))

count of outliers in dataset: 8108

 **B)Handle outliers**

In [217]:
#1.drop outliers and take non outlier df for further calculation

not_outlier_df=v1[~(((v1.Installs<(q1+(1.5*iqr))) | (v1.Installs>(q3+(1.5*iqr)))))]
print("count of not outliers in dataset:",len(not_outlier_df))
not_outlier_df.head(10)

count of not outliers in dataset: 1252

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
12,Tattoo Name On My Photo Editor,ART_AND_DESIGN,4.0,44829,20M,10000000.0,Free,0,Teen,Art & Design,"April 2, 2018",3.8,4.1 and up
19,ibis Paint X,ART_AND_DESIGN,4.0,224399,31M,10000000.0,Free,0,Everyone,Art & Design,"July 30, 2018",5.5.4,4.1 and up
42,Textgram - write on photos,ART_AND_DESIGN,4.0,295221,Varies with device,10000000.0,Free,0,Everyone,Art & Design,"July 30, 2018",Varies with device,Varies with device
45,"Canva: Poster, banner, card maker & graphic de...",ART_AND_DESIGN,4.0,174531,24M,10000000.0,Free,0,Everyone,Art & Design,"July 31, 2018",1.6.1,4.1 and up
72,"Android Auto - Maps, Media, Messaging & Voice",AUTO_AND_VEHICLES,4.0,271920,16M,10000000.0,Free,0,Teen,Auto & Vehicles,"July 11, 2018",Varies with device,5.0 and up
117,Beauty Camera - Selfie Camera,BEAUTY,4.0,113715,Varies with device,10000000.0,Free,0,Everyone,Beauty,"August 3, 2017",Varies with device,Varies with device
142,Wikipedia,BOOKS_AND_REFERENCE,4.0,577550,Varies with device,10000000.0,Free,0,Everyone,Books & Reference,"August 2, 2018",Varies with device,Varies with device
144,Cool Reader,BOOKS_AND_REFERENCE,4.0,246315,Varies with device,10000000.0,Free,0,Everyone,Books & Reference,"July 17, 2015",Varies with device,1.5 and up
145,Dictionary - Merriam-Webster,BOOKS_AND_REFERENCE,4.0,454060,Varies with device,10000000.0,Free,0,Everyone,Books & Reference,"May 18, 2018",Varies with device,Varies with device
146,NOOK: Read eBooks & Magazines,BOOKS_AND_REFERENCE,4.0,155446,Varies with device,10000000.0,Free,0,Teen,Books & Reference,"April 25, 2018",Varies with device,Varies with device

**Note:Drop outliers can reduce the dataset and this is not correct way to handle outliers**

In [218]:
#2.cap the outliers

#find upper limit
upper=(v1.Installs.mean())+(3*(v1.Installs.std()))
print("Upper limit is:",upper)

#find lower limit
lower=(v1.Installs.mean())-(3*(v1.Installs.std()))
print("Lower limit is:",lower)

Upper limit is: 291707852.0
Lower limit is: -255890356.0

In [219]:
#make upper,lower and no_outlier dataframe
u_df=v1[v1.Installs>upper]
l_df=v1[v1.Installs<lower]
no_outlier_df=v1.loc[(v1.Installs<=upper) & (v1.Installs>=lower)]

In [220]:
#change upper outlier values to upper value
# inserting column with static value in data frame
u_df.Installs=upper

#change upper outlier values to lower value
l_df.Installs=lower

In [221]:
#concat all three dataframes

final_df=pd.concat([u_df,l_df,no_outlier_df],axis=0)
final_df.head(10)

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
152,Google Play Books,BOOKS_AND_REFERENCE,3.0,1433233,Varies with device,291707852.0,Free,0,Teen,Books & Reference,"August 3, 2018",Varies with device,Varies with device
335,Messenger – Text and Video Chat for Free,COMMUNICATION,4.0,56642847,Varies with device,291707852.0,Free,0,Everyone,Communication,"August 1, 2018",Varies with device,Varies with device
336,WhatsApp Messenger,COMMUNICATION,4.0,69119316,Varies with device,291707852.0,Free,0,Everyone,Communication,"August 3, 2018",Varies with device,Varies with device
338,Google Chrome: Fast & Secure,COMMUNICATION,4.0,9642995,Varies with device,291707852.0,Free,0,Everyone,Communication,"August 1, 2018",Varies with device,Varies with device
340,Gmail,COMMUNICATION,4.0,4604324,Varies with device,291707852.0,Free,0,Everyone,Communication,"August 2, 2018",Varies with device,Varies with device
341,Hangouts,COMMUNICATION,4.0,3419249,Varies with device,291707852.0,Free,0,Everyone,Communication,"July 21, 2018",Varies with device,Varies with device
342,Viber Messenger,COMMUNICATION,4.0,11334799,Varies with device,291707852.0,Free,0,Everyone,Communication,"July 18, 2018",Varies with device,Varies with device
347,imo free video calls and chat,COMMUNICATION,4.0,4785892,11M,291707852.0,Free,0,Everyone,Communication,"June 8, 2018",9.8.000000010501,4.0 and up
371,Google Duo - High Quality Video Calls,COMMUNICATION,4.0,2083237,Varies with device,291707852.0,Free,0,Everyone,Communication,"July 31, 2018",37.1.206017801.DR37_RC14,4.4 and up
378,UC Browser - Fast Download Private & Secure,COMMUNICATION,4.0,17712922,40M,291707852.0,Free,0,Teen,Communication,"August 2, 2018",12.8.5.1121,4.0 and up

**Note:One imputational method is also used.If nan value is present in the outlier row then this nan value is replaced by mean value of the column.**

---